@model IEnumerable<Product>

@{
     
    Layout = "~/Views/Shared/HomeLayout.cshtml";
}
<table class="table">
    <thead>
        <tr>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Sale</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Namee</td>
                <td>@item.Price</td>
                <td>@item.Sale</td>
            </tr>
        }
    </tbody>
</table>
