@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@model FitnessLife.Models.User
<head>
    <link href="~/AdminDesign/css/AdminProfile.css" rel="stylesheet">
    <style>
        .labels{
            font-size:20px;
        }

        .form-control{
            border: 1px solid white;
        }
    </style>
</head>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <form enctype="multipart/form-data" asp-action="AdminProfile">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5" style="color:white">
                    <img id="profileImagePreview" class="rounded-circle"
                         src="@(!string.IsNullOrEmpty(Model.ImagePath) ? Model.ImagePath :Url.Content("~/AdminDesign/img/user.jpg"))"
                         alt="Profile Image"
                         >
                    <span class="font-weight-bold">@Model.Fname @Model.Lname</span>
                    <span class="text-black-50">@Model.Email</span>
                </div>
            </div>
                    </form>

            <div class="col-md-5 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Admin Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <label asp-for="Fname" class="labels">First Name</label>
                            <input asp-for="Fname" type="text" class="form-control" placeholder="first name" value="">
                        </div>
                        <div class="col-md-6">
                            <label asp-for="Lname" class="labels">Last Name</label>
                            <input asp-for="Lname" type="text" class="form-control" placeholder="last name" value="">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <label asp-for="Phonenumber" class="labels">Mobile Number</label>
                            <input asp-for="Phonenumber" type="text" class="form-control" placeholder="enter phone number" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Address Line 1</label>
                            <input type="text" class="form-control" placeholder="enter address line 1" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Address Line 2</label>
                            <input type="text" class="form-control" placeholder="enter address line 2" value="">
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Gender" class="labels">Gender</label>
                            <input asp-for="Gender" type="text" class="form-control" placeholder="enter gender" value="">
                        </div>
                        <div class="col-md-12">
                            <label asp-for="Email" class="labels">Email</label>
                            <input asp-for="Email" type="text" class="form-control" placeholder="enter email id" value="">
                        </div>
                        <div class="col-md-12">
                            <label class="labels">Education</label>
                            <input type="text" class="form-control" placeholder="education" value="">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ImageFile" class="form-label">Upload New Profile Image:</label>
                        <input asp-for="ImageFile" class="form-control form-control-sm bg-dark" type="file" id="imageUpload" onchange="previewImage(event)">
                    </div>
                    <div class="mt-5 text-center">
                        <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
                    
                        <a asp-controller="Admin" asp-action="Index" class="btn btn-secondary">Back</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center experience">
                        <span>Edit FitnessLife</span>
                        <span class="border px-3 p-1 add-experience">
                            <i class="fa fa-plus"></i>&nbsp;Details
                        </span>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <label class="labels">New Name:</label>
                        <input type="text" class="form-control" placeholder="New Name" value="">
                    </div>
                    <br>
                    <div class="col-md-12">
                        <label class="labels">Additional Details</label>
                        <input type="text" class="form-control" placeholder="additional details" value="">
                    </div>
                </div>
            </div>
    </div>
</div>




<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function () {
            var output = document.getElementById('profileImagePreview');
            output.src = reader.result;
        }
        reader.readAsDataURL(event.target.files[0]);
    }
</script>